.main{
    margin-top: 1.8rem;

    &__article{
        .image-container{
            img{
                width: 100%;
                @include breakpoint-up(desktop){
                    content: url('/images/image-web-3-desktop.jpg');
                    height: 300px;
                }
            }
        }
        h1{
            font-weight: 800;
            font-size: 3rem;
            margin: 1.5rem 0;
        }

        p{
            color: $darkGrayishBlue;
            line-height: 25px;
            font-size: 1rem;
        }

        .button{
            display: inline-block;
            text-decoration: none;
            background-color: $softRed;
            color: $offWhite;
            text-transform: uppercase;
            margin: 1.5rem 0;
            padding: 1rem 1.8rem;
            font-weight: 700;
            font-size: 0.85rem;
            letter-spacing: 4px;
        }
    }

    @include breakpoint-up(desktop){
        .desktop-container{
            display: flex;

            .main__article{

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .container2{
                    display: inline-flex;
                    gap: 25px;
                    padding-top: 2rem;
                    height: 100%;

                    h1{
                        margin: 0;
                        flex: 1;
                        font-size: 3.8rem;
                    }
                
                    .container3{
                        flex: 1;
                        position: relative;

                        p{
                            padding-right: 1rem;
                        }

                        .button{
                            margin: 0;
                            position: absolute;
                            bottom: 0;
                        }

                    }
                }
            }
        }
    }

}