.main{
    margin-top: 1.8rem;

    &__article{
        .image-container{
            img{
                width: 100%;
            }
        }
        h1{
            font-weight: 800;
            font-size: 3rem;
            margin: 1.5rem 0;
        }

        p{
            color: $darkGrayishBlue;
            line-height: 25px;
            font-size: 1rem;
        }

        .button{
            display: inline-block;
            text-decoration: none;
            background-color: $softRed;
            color: $offWhite;
            text-transform: uppercase;
            margin: 1.5rem 0;
            padding: 1rem 1.8rem;
            font-weight: 700;
            letter-spacing: 3px;
        }
    }
}