@import 'variables';
@import 'mixin';
@import 'animations';
@import 'header';
@import 'main';
@import 'aside';
@import 'showcase';

body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    padding: 1.5rem;
    height: 100vh;
    max-width: 375px;

    @include breakpoint-up(desktop){
        max-width: 1440px;
        height: 100vh;
        margin: auto;
        padding: 0 10rem;
    }
}


.hidden{
    display: none;
}